extends layout

block content
  h1 Android App für den GAG Vertretungsplan
  table
    tr
        td
          p Weil ich echt  
            b oft
            |  danach gefragt wurde, bitte :)
          p Einfach den QR Code auf dem Handy einscannen, oder die Installationdatei 
              a(href="/files/VertretungsplanGAG.apk") hier
              |  herunterladen und über die SD-Karte installieren.
          p Es kann sein, das ihr im Handy die Option "Unsichere Quellen" aktivieren müsst.
          p Fehler gefunden? Fragen? Mail an jonas.schwabe@gmail.com
          p Updates müssen von hier installiert werden, ich werde keine Updates über den Google Play Store anbieten, sorry.
          p
            img(src="images/qrlink.jpg")
            br
            |Oder diesen Link im Browser eintippen: 
            a(href="http://cascaded-web.com:3000/get") http://cascaded-web.com:3000/get
          h2 Impressum
          p Jonas Schwabe
          p jonas.schwabe@gmail.com
          p Bergstraße 40
          p 49504 Lotte
          h2 Disclaimer
          p Alle Angaben in der App sind komplett ohne Gewähr, ich übernehme keinerlei Haftung für die Funktionsfähigkeit der Anwendung.
          p Der Quellcode der 
            a(href="https://github.com/gh1234/GAG-Vertretungsplan-App") App
            |  und des dazugehörigen 
            a(href="https://github.com/gh1234/GAG-Vertretungsplan-Web") Servers
            |  ist frei verfügbar.
          p Ich werde die App maximal bis zu den Herbstferien 2013 weiterentwickeln.
        td
            h2 Screenshots
            p
                img(src="/images/Screenshot_2013-02-15-22-25-23.png")
            p
                img(src="/images/Screenshot_2013-02-15-22-17-14.png")
